'.source.apex':
  'Set the `allowFieldTruncation` header':
    'prefix': 'dmlO'
    'body': '''
    Database.DMLOptions options = new Database.DMLOptions();
    options.allowFieldTruncation = true;
    ${1:rows}.setOptions(options);'
    '''
