'.text.html.basic':
  'filecomment_vf':
    'prefix': '/*f'
    'body': '''<!--
    /**
     * ${1:$TM_FILENAME}
     * Description: $2
     * @author: ${3:$TM_FULLNAME}
     * @date: ${4:}
     */
    -->
    '''
